/*
##############################
#########  GENERELT  #########
##############################
*/

/*#####  OVERORDNET   #####*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


/*########  TEKST  ########*/

h1,
h2,
h3,
h4,
p,
address {
    cursor: default;
    color: #fafafa;
}

a,
button {
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 2em;
    color: #000;
    margin-top: 25vw;
    margin-left: 20px;
    font-family: 'Cinzel', serif;

}

h2 {
    font-size: 1.4em;
    color: #ddd;
    margin: 20px 0px 10px 0px;
}

h3 {}

/*########  ANDET  ########*/

img {
    width: 100vw;
}

#baggrund_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-size: cover;
    background-position: center;
    background-color: #555;
}

#baggrund_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: rgba(300, 300, 300, 0.4);
}

/*
##############################
##########  PAGES   ##########
##############################
*/

/*#######  HEADER   #######*/

header.include img {
    width: 35vw;
    left: 35vw;
    z-index: 110;
    position: absolute;
    top: 0.1vw;
}

#header_bar {
    width: 100%;
    height: 25vw;
    background-image: url(img/wood-1759566_1920.jpg);

    position: absolute;
    top: 0vw;
    left: 0;
    z-index: 100;
}


/*###  NAVIGATION MENU  ###*/

nav.include {
    z-index: 150;
    position: fixed;
    top: 0;
    left: -300px;
    transition: 0.5s;
    transition-timing-function: ease;
}

#nav_content {
    width: 300px;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: 150;
    background-color: rgba(50, 50, 50, 0.8);
}

#nav_content form {
    margin: 50px;
}

#nav_content button {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 1.8em;
    width: 100%;
    transition: 0.5s;
    font-family: 'Roboto Slab', serif;
}

#nav_content button:hover {
    color: #ccc;
    transform: translateX(10px);
}

#burger {
    width: 12vw;
    height: 12vw;
    top: 5vw;
    left: 300px;
    background-color: rgba(50, 50, 50, 0.8);
    position: absolute;
    z-index: 150;
    cursor: pointer;
    transition: 0.5s;
}

#burger:hover div {
    background-color: #ccc;
}

#burger div {
    background-color: #fff;
    width: 10vw;
    height: 1vw;
    margin: 2.2vw 1vw;
    transition: 0.5s;
}

nav.include.open {
    left: 0px;
}

nav.include.open #burger div:first-child {
    transform: rotate(-45deg) translateX(-2vw) translateY(2.5vw);
}

nav.include.open #burger div:nth-child(2) {
    opacity: 0;
}

nav.include.open #burger div:last-child {
    transform: rotate(45deg) translateX(-2vw) translateY(-2.5vw);
}

/*#######  FOOTER   #######*/

footer {
    background-color: #767a7d;
    padding: 20px;
    color: #ddd;



}

footer a {
    text-decoration: underline;
    font-family: 'Roboto Slab', serif;
    color: #90bdbb;

}

a:hover {
    color: #ddd;
}

footer p {
    font-family: 'Roboto Slab', serif;
}

footer strong {
    font-family: 'Roboto Slab', serif;
}

/*#######  FORSIDE  #######*/

#baggrund_fixed.forside,
    {
    background-size: cover;
    top: 10vw;
    z-index: -1;

}


#forside_container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    z-index: -1;



}

#forside_container p,
em {
    margin-top: 10vh;
    color: #111;
    font-size: 1.3em;
    align-self: center;
    text-align: center;
    padding: 0 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;



}



#forside_container img {
    align-self: center;
    margin-top: 25vh;
    width: 40vh;
}

#forside_container h1 {
    margin-top: 7vh;
    align-self: center;
    color: #111;
    font-size: 2em;
    font-family: 'Cinzel', serif;
}


/*######  PRODUKTER  ######*/

#produkter #slideshow {
    position: relative;
}

#produkter .but {
    position: absolute;
    height: 9vw;
    width: 12vw;
    top: 26.5vw;

    background-color: rgba(30,30,30,0.3);
    border: none;
}

#produkter .prev {
    left: 0;
}

#produkter .next {
    right: 0;
}

#produkter .slide {
    width: 100vw;
    height: 60vw;
    background-image: url(img/produktKat1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*######  LOOKBOOK   ######*/

#lookbook .sort_btn {
    position: fixed;
    left: 0;
    height: 8vw;
    width: 22vw;
    border: none;
    background-color: #333;
    font-size: 4vw;
    font-weight: 700;
    color: #fff;
    transition: 0.5s;
    transition-timing-function: ease;
}

#lookbook .sort_btn.selected {
    width: 25vw;
    background-color: #222;
}

#lookbook #privat {
    top: 20vw;
}

#lookbook #erhverv {
    top: 31vw;
}

/*########  OM OS   #######*/

#baggrund_fixed.om {
    background-image: url(img/planketekstur.JPG);
}

#om #kasper {
    display: block;
    width: 100vw;
    margin: 0 auto;

    z-index: -2;

}

#om #om_kasper {
    padding: 20px 20px;
    background-color: rgba(50, 50, 50, 0.7);
    color: #ddd;
    background-image: url(img/planketekstur.JPG);
    background-size: cover;

}

#om #om_kasper p {
    margin: 0;
    padding: 10px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;


}

#om h1 {
    font-family: 'Cinzel', serif;
    color: #ffff;
    margin-top: 35vw;
    font-size: 1.7em;
}

#om button {


    height: 8vw;
    width: 22vw;
    border: none;
    background-color: #000000;
    font-size: 4vw;
    font-weight: 700;
    color: #fff;
    transition: 0.5s;
    transition-timing-function: ease;
}


/*###  RÅDG. OG KONT.   ###*/

#baggrund_fixed.kontakt {
    background-image: url(img/IMG_1464.JPG);
}

#kontakt {
    overflow: hidden;
}

#info_box {
    padding: 20px;
    background-color: rgba(90, 88, 88, 0.12);
    color: #e6e6e6;
    font-family: 'Roboto Slab', serif;

}

#info_box address,
p {
    font-family: 'Roboto Slab', serif;

}

#kontakt #map {
    width: 100vw;
    height: 50vw;
    background: burlywood;
}

/* Kontakt box */

#kontakt_box input,
textarea {


    padding: 20px;
    transition: 0.5s;
    font-family: 'Roboto Slab', serif;


}

#kontakt_box .tilbage {
    width: 10em;
    height: auto;
    padding: 0.4em;
}

#kontakt_box p {
    color: #eee;
    font-family: 'Roboto Slab', serif;
}

#kontakt_box button,
#kontakt_box .submit {
    width: 100%;
    height: 3em;
    font-size: 0.9em;
    margin: 10px 0;
    font-family: 'Roboto Slab', serif;
    color: #FFF;
    background-color: #222;
    border: none;
    font-weight: 700;
    cursor: pointer;
    background-image: url(img/wood-1759566_1920.jpg);

}

#kontakt_box button:hover,
#kontakt_box .submit:hover {
    background-color: #111;
    font-family: 'Roboto Slab', serif;
}

#kontakt_box input {
    width: 100%;
    padding: 0.5em;
    margin: 10px 0;
}

#kontakt_box textarea {
    min-height: 150px;
    width: 100%;
    padding: 0.5em;
}

#kontakt h1 {
    font-family: 'Cinzel', serif;
    font-size: 1.7em;
    margin-top: 35vw;
    color: #fff;

}

#kontakt h2 {
    font-family: 'Roboto Slab', serif;
    color: black;
}

/*########  KURV   ########*/

#kurv {
    background-image: url(img/mursteen.JPG);
    background-size: cover;
    filter: grayscale();

}

#kurv button {
    background-color: #444;
    border: none;
    padding: 0.5em;
    color: #ddd;
    font-weight: 700;
    font-size: 1.1em;
    font-family: 'Roboto Slab', serif;
}

#kurv button:hover {
    background-color: #333;
}

#kurv_box {

    padding: 20px;

}





#kurv_box span {
    color: #f44;
}

#top_bar_vare,
#kurv .vare {
    display: grid;
    grid-template-columns: 2.5fr 1fr 60px 1fr;
}

#top_bar_vare {
    font-weight: 700;
    font-size: 1.1em;
}

#kurv .vare strong {
    background-color: #888;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Roboto Slab', serif;
}

#kurv h1 {
    color: #fff;
    font-size: 1.7em;


}

#kurv h2,
h3,
input {
    font-family: 'Roboto Slab', serif;

}

#kurv .vare input {
    width: 40px;
    text-align: right;
}

#subtotal_grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#kurv .pris {
    text-align: right;
}

#kurv .tilbage {
    font-size: 0.9em;
}

#kurv .x {
    background-color: #f44;
    border-radius: 100px;
    color: #fff;
    padding: 0;
    width: 20px;
    height: 20px;
    text-align: center;
}

#kurv .x:hover {
    background-color: #b33;
}

/*
##############################
######  MEDIAQUERRIES   ######
##############################
*/

/*#######  TABLET   #######*/

/*#######  DESKTOP  #######*/

/*#######  FOOTER   #######*/
