/*
##############################
#########  GENERELT  #########
##############################
*/

/*#####  OVERORDNET   #####*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


/*########  TEKST  ########*/

h1,
h2,
h3,
h4,
p,
address {
    cursor: default;
    color: #fafafa;
}

a,
button {
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 2em;
    color: #ffffff;
    margin-top: 25vw;
    margin-left: 20px;
    font-family: 'Cinzel', serif;

}

h2 {
    font-size: 1.4em;
    color: #ddd;
    margin: 20px 0px 10px 0px;
}



h1 {
    font-family: 'Cinzel', serif;
    font-size: 1em;
    margin-top: 35vw;
    color: #fff;
}

/*########  ANDET  ########*/

img {
    width: 100%;
}

#baggrund_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-size: cover;
    background-position: center;
    background-color: #555;
}

#baggrund_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: rgba(300, 300, 300, 0.4);
}

/*
##############################
##########  PAGES   ##########
##############################
*/

/*#######  HEADER   #######*/

header.include img {
    width: 35vw;
    left: 35vw;
    z-index: 110;
    position: absolute;
    top: 0.1vw;
}

#header_bar {
    width: 100%;
    height: 35vw;
    background-color: #4b736d;

    position: absolute;
    top: 0vw;
    left: 0;
    z-index: 100;
}


/*###  NAVIGATION MENU  ###*/

nav.include {
    z-index: 150;
    position: fixed;
    top: 0;
    left: -300px;
    transition: 0.5s;
    transition-timing-function: ease;
}

#nav_content {
    width: 300px;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: 150;
    background-color: rgba(50, 50, 50, 0.8);
}

#nav_content form {
    margin: 50px;
}

#nav_content button {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 1.8em;
    width: 100%;
    transition: 0.5s;
    font-family: 'Roboto Slab', serif;
}

#nav_content button:hover {
    color: #ccc;
    transform: translateX(10px);
}

#burger {
    width: 12vw;
    height: 12vw;
    top: 5vw;
    left: 300px;
    background-color: rgba(50, 50, 50, 0.8);
    position: absolute;
    z-index: 150;
    cursor: pointer;
    transition: 0.5s;
}

#burger:hover div {
    background-color: #ccc;
}

#burger div {
    background-color: #fff;
    width: 10vw;
    height: 1vw;
    margin: 2.2vw 1vw;
    transition: 0.5s;
}

nav.include.open {
    left: 0px;
}

nav.include.open #burger div:first-child {
    transform: rotate(-45deg) translateX(-2vw) translateY(2.5vw);
}

nav.include.open #burger div:nth-child(2) {
    opacity: 0;
}

nav.include.open #burger div:last-child {
    transform: rotate(45deg) translateX(-2vw) translateY(-2.5vw);
}

nav .logo {
    position: absolute;
    top: 600px;
    left: 20px;
    height: 350px;
}

nav .logo a {
    text-decoration: none;
}

nav .logo img {
    position: relative;
    margin-left: 10px;
    width: 10%;
}

/*#######  FOOTER   #######*/

footer {
    background-color: #767a7d;
    padding: 20px;
    color: #ddd;
}

footer a {
    text-decoration: underline;
    font-family: 'Roboto Slab', serif;
    color: #90bdbb;

}

a:hover {
    color: #ddd;
}

footer p {
    font-family: 'Roboto Slab', serif;
}

footer strong {
    font-family: 'Roboto Slab', serif;
}

/*#######  FORSIDE  #######*/

#forside_container {
    display: flex;
    flex-direction: column;

    height: 100vh;

    margin: 0;
    padding: 0;
    z-index: -1;

}

#forside_container p,
#forside_container em {
    margin-top: 5vh;
    color: #ffffff;

    font-size: 1.3em;
    align-self: center;
    text-align: center;
    padding: 0 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;

}

#forside_container p {
    background-color: rgba(0, 0, 0, 0.1);
}

#forside_container img {
    align-self: center;
    margin-top: 25vh;
    width: 45vh;
}

#forside_container h1 {
    margin-top: 7vh;
    align-self: center;
    color: #111;
    font-size: 2em;
    font-family: 'Cinzel', serif;
}

#forside_container .citat {
    font-size: 3em;
    font-family: cursive;
    position: absolute;
    top: 115vw;
    right: 83vw;
    background-color: rgba(0, 0, 0, 0);
}

#baggrund_fixed.forside iframe {
    width: 100vw;
    height: 160vw;
    filter: blur(3px);
    position: absolute;
    top: 10vw;
    transform: scale(3);
}


/*######  PRODUKTER  ######*/

#baggrund_fixed {
    background-image: url(img/IMG_1464.JPG);
    background-size: cover;

}



#produkter h1 {
    font-family: 'Cinzel', serif;
    font-size: 1.7em;
    margin-top: 35vw;
    color: #fff;
}

#produkter #slideshow {
    position: relative;
}

#produkter .but {
    position: absolute;
    height: 9vw;
    width: 10vw;
    top: 28.5vw;

    background-color: rgba(30, 30, 30, 0.3);
    border: none;

    background-image: url(img/pil.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

#produkter .prev {
    left: 0;
    transform: rotateZ(180deg);
}

#produkter .next {
    right: 0;
}

#produkter .slide {
    width: 100%;
    height: 60vw;
    background-image: url(img/produktKat1.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

}

#produkter .slide_headline {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 30px;
    margin: 0;
    color: #fff;
    z-index: 2;
    font-family: 'Cinzel', serif;
}




#produkter .bar {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 20px;
    z-index: 1;
}

#produkter #dest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    background-color: #4b736d;
}

#produkter #dest article {
    overflow: hidden;
    position: relative;
}

#produkter #dest img {
    transform: scale(1.1)
}

#produkter #dest .navn,
#produkter #dest .materialer,
#produkter #dest .pris,
#produkter #dest .overlay {
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}

#produkter #dest .navn,
#produkter #dest .materialer,
#produkter #dest .pris {
    position: absolute;
    z-index: 2;
    left: 20px;
    color: #eee;
}

#produkter #dest .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

#produkter #dest .navn {
    top: 40px;
    font-size: 1.3em;
    font-weight: 700;
}

#produkter #dest .materialer {
    top: 5.6em;
    font-style: italic;
    width: 80%;
}

#produkter #dest .pris {
    bottom: 2em;
    font-size: 1.2em;
}

/*#######  PRODUKT  #######*/

#produkt {
    display: grid;
}

#produkt .billede {
    display: block;
    margin: 25vw auto 0 auto;
}

#produkt #text_box {
    padding: 0 20px;
}

#produkt h1 {
    margin: 20px;
    font-size: 1.3em;
}

#produkt h2 {
    margin-top: 0;
    font-size: 1.2em;
}

#produkt .pris {
    font-size: 1.1em;
}

#produkt #samme_header {
    margin-left: 20px;
    font-size: 1.2em;
}

#produkt button {
    width: 7em;
    height: 2.2em;
    font-size: 1.2em;
    margin: 0px 0px 20px 20px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
    color: #FFF;
    background-color: #222;
    border: none;
    font-weight: 700;
    cursor: pointer;
    background-image: url(img/wood-1759566_1920.jpg);
}

#produkt #dest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    background-color: #4b736d;
}

#produkt #dest article {
    overflow: hidden;
    position: relative;
}

#produkt #dest img {
    transform: scale(1.1);
    margin: 0;
}

#produkt #dest .navn,
#produkt #dest .materialer,
#produkt #dest .pris,
#produkt #dest .overlay {
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}

#produkt #dest .navn,
#produkt #dest .materialer,
#produkt #dest .pris {
    position: absolute;
    z-index: 2;
    left: 20px;
    color: #eee;
}

#produkt #dest .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

#produkt #dest .navn {
    top: 40px;
    font-size: 1.3em;
    font-weight: 700;
}

#produkt #dest .materialer {
    top: 5.6em;
    font-style: italic;
    width: 80%;
}

#produkt #dest .pris {
    bottom: 2em;
    font-size: 1.2em;
}

/*######  LOOKBOOK   ######*/

#lookbook {
    background-color: #4b736d;
}

#lookbook h1 {
    font-family: 'Cinzel', serif;
    font-size: 1.7em;
    color: #fff;

}

#lookbook .sort_btn {
    position: fixed;
    left: 0;
    height: 8vw;
    width: 22vw;
    border: none;
    background-color: rgba(90, 90, 90, 0.6);
    font-size: 4vw;
    font-weight: 700;
    color: #fff;
    transition: 0.5s;
    transition-timing-function: ease;
    z-index: 130;
}

#lookbook .sort_btn:hover {
    background-color: rgba(90, 90, 90, 1);
}

#lookbook .sort_btn.selected:hover {
    background-color: rgba(30, 30, 30, 1);
}

#lookbook .sort_btn.selected {
    width: 25vw;
    background-color: rgba(30, 30, 30, 0.6);
}

#lookbook #privat {
    top: 20vw;
}

#lookbook #erhverv {
    top: 31vw;
}

#lookbook #dest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#lookbook .dest img {
    margin: 5px 0;
}

/*########  OM OS   #######*/

#baggrund_fixed.om {
    background-image: url(img/planketekstur.JPG);
    background-size: cover;
}

#om #kasper {

    width: 100%;
    height: 100%;



}



#om #om_kasper {
    padding: 20px 20px;
    background-color: rgba(118, 122, 125, 0.46);
    color: #ffffff;

    background-size: cover;

}

#om #om_kasper p {
    margin: 0;
    padding: 0px;
    font-weight: 600;
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;



}

#om h1 {
    font-family: 'Cinzel', serif;
    color: #ffff;
    font-size: 1.7em;
    margin-top: 0;


}

/*
#om button {


    height: 8vw;
    width: 22vw;
    border: none;
    background-color: #000000;
    font-size: 4vw;
    font-weight: 700;
    color: #fff;
    transition: 0.5s;
    transition-timing-function: ease;
}*/

/*###  RÅDG. OG KONT.   ###*/

#baggrund_fixed.kontakt {
    background-image: url(img/IMG_0407.JPG);
}

#kontakt {
    overflow: hidden;
}

#info_box {
    padding: 20px;
    background-color: rgba(90, 88, 88, 0.12);
    color: #e6e6e6;
    font-family: 'Roboto Slab', serif;

}

#info_box address,
#info_box p {
    font-family: 'Roboto Slab', serif;

}

#kontakt #map {
    width: 100vw;
    height: 50vw;
    background: burlywood;
}

/* Kontakt box */

#kontakt_box input,
#kontakt_box textarea {


    padding: 20px;
    transition: 0.5s;
    font-family: 'Roboto Slab', serif;


}

#kontakt_box .tilbage {
    width: 10em;
    height: auto;
    padding: 0.4em;
}

#kontakt_box p {
    color: #eee;
    font-family: 'Roboto Slab', serif;
}

#kontakt_box button,
#kontakt_box .submit {
    width: 100%;
    height: 3em;
    font-size: 0.9em;
    margin: 10px 0;
    font-family: 'Roboto Slab', serif;
    color: #FFF;
    background-color: #222;
    border: none;
    font-weight: 700;
    cursor: pointer;
    background-image: url(img/wood-1759566_1920.jpg);
    display: block;

}

#kontakt_box button:hover,
#kontakt_box .submit:hover {
    background-color: #111;
    font-family: 'Roboto Slab', serif;
}

#kontakt_box input {
    width: 100%;
    padding: 0.5em;
    margin: 10px 0;
}

#kontakt_box textarea {
    min-height: 150px;
    width: 100%;
    padding: 0.5em;
}

#kontakt h1 {
    font-family: 'Cinzel', serif;
    font-size: 1.7em;
    margin-top: 35vw;
    color: #fff;

}

#kontakt h2 {
    font-family: 'Roboto Slab', serif;
    color: black;
}

/*########  KURV   ########*/

#kurv {
    background-image: url(img/mursteen.JPG);
    background-size: cover;
    filter: grayscale();
}


#kurv button {
    background-color: #444;
    border: none;
    padding: 0.5em;
    color: #ddd;
    font-weight: 700;
    font-size: 1.1em;
    font-family: 'Roboto Slab', serif;

}

#kurv button:hover {
    background-color: #333;
}

#kurv_box {

    padding: 20px;


}


#kurv_box span {
    color: #f44;
}

#top_bar_vare,
#kurv .vare {
    display: grid;
    grid-template-columns: 2.5fr 1fr 60px 1fr;
}

#top_bar_vare {
    font-weight: 700;
    font-size: 1.1em;
}

#kurv .vare strong {
    background-color: #888;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Roboto Slab', serif;
}

#kurv h1 {
    color: #fff;
    font-size: 1.7em;


}

#kurv h2,
h3,
input {
    font-family: 'Roboto Slab', serif;

}

#kurv .vare input {
    width: 40px;
    text-align: right;
}

#subtotal_grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#kurv .pris {
    text-align: right;
}

#kurv .tilbage {
    font-size: 0.9em;
}

#kurv .x {
    background-color: #f44;
    border-radius: 100px;
    color: #fff;
    padding: 0;
    width: 20px;
    height: 20px;
    text-align: center;
}

#kurv .x:hover {
    background-color: #b33;
}

/*
##############################
######  MEDIAQUERRIES   ######
##############################
*/

@media screen and (min-width: 530px) and (max-width: 1000px) {
    /*#######  TABLET   #######*/
    /* Header */
    #header_bar {
        height: 30vw;
    }

    header.include img {
        width: 22vw;
    }

    /* Navigation menu */
    #burger {
        width: 8vw;
        height: 8vw;
    }

    #burger div {
        width: 6vw;
        height: 0.8vw;
        margin: 1.4vw 1vw;
    }

    nav.include.open #burger div:first-child {
        transform: rotate(-45deg) translateX(-1.6vw) translateY(1.4vw);
    }

    nav.include.open #burger div:last-child {
        transform: rotate(45deg) translateX(-1.6vw) translateY(-1.4vw);
    }

    /* Produkter */
    #produkter #dest {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Produkt */
    #produkt .billede {
        max-width: 500px;
        margin: 17vw auto 0 auto;
    }

    #produkt #text_box,
    #produkt h1 {
        max-width: 540px;
        margin: 0 auto
    }

    #produkt h1 {
        width: 500px;
        padding: 20px 0;
    }

    #produkt button {
        margin: 20px auto;
    }

    #produkt #dest {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #produkt #samme_header {
        margin-left: 10px;
        margin-top: 20px;
    }

    /* Kontakt */
    #kontakt {
        max-width: 500px;
        margin: 0 auto;
    }

    #kontakt #map {
        width: 100%;
        height: 30vw;
    }

    /* Lookbook */
    #lookbook .sort_btn {
        height: 7vw;
        width: 19vw;
    }

    #lookbook .sort_btn.selected {
        width: 22vw;
    }

    /* Kurv */
    #kurv_box {
        max-width: 500px;
        margin: 0 auto;
    }

    #kurv h1 {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-top: 20px;
        display: block;
    }

}


/*#######  DESKTOP  #######*/

@media screen and (min-width: 1000px) {

    /* Header */
    header.include #header_bar {
        display: none;
    }

    header.include img {
        left: 10px;
        top: 10px;
        width: 170px;
        z-index: 200;
    }

    footer {
        display: grid;

    }

    footer p,
    address,
    a {
        grid-area: 1;
    }

    /* Navigation menu (Becomming the header)*/
    #burger {
        display: none;
    }

    nav.include {
        left: 0;
        width: 100%;
        height: 100px;
        background-color: #4b736d;
        background-size: cover;
        background-position: center;

        position: absolute;
    }

    #nav_content {
        position: absolute;
        width: auto;
        height: auto;
        background-color: transparent;
        right: 20px;
        top: 60px;
        padding-right: 100px;
    }

    #nav_content form {
        display: inline-block;
        margin: 0;
    }

    #nav_content button {
        width: auto;
        font-size: 0.9em;
        margin: 0 6px;
    }

    #nav_content button:hover {
        color: #ccc;
        transform: scale(0.95);
    }

    nav .logo {
        position: absolute;
        display: block;
        height: auto;
        width: 100px;
        top: -10px;
        right: -10px;
        left: auto;
    }

    nav .logo img {
        width: 30px;
        margin: 5px;
    }

    /* Forside */
    #baggrund_fixed.forside iframe {
        width: 100vw;
        height: 42vw;
        filter: blur(3px);
        position: absolute;
        top: 10vw;
        transform: scale(3);
    }
    #forside_container .citat {
        font-size: 3em;
        font-family: cursive;
        position: absolute;
        top: 40vw;
        right: 90vw;
        background-color: rgba(0, 0, 0, 0);
    }
    /* Produkter */
    #produkter {
        max-width: 1300px;

    }

    #produkter h1 {
        margin-top: 200px;
    }

    #slideshow {
        max-width: 1400px;
        left: 0;

    }

    #produkter .slide {
        height: 600px;
    }

    #produkter .but {
        top: 270px;
        height: 50px;
        width: 70px;
        background-size: 29%;
    }

    #produkter #dest {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #produkter #dest article:hover .navn,
    #produkter #dest article:hover .materialer,
    #produkter #dest article:hover .pris,
    #produkter #dest article:hover .overlay {
        opacity: 1;
    }

    /* Produkt */
    #produkt {
        grid-template-columns: 1fr 1fr;
        padding: 20px;
        padding-top: 180px;
        max-width: 1200px;
        margin: 0 auto;
    }

    #produkt h1 {
        grid-area: 1 / 1 / 2 / 3;
        margin: 20px 0;
        font-size: 1.8em;
    }

    #produkt .billede {
        grid-area: 2 / 1 / 5 / 2;
        margin: 0;
    }

    #produkt #dest article:hover .navn,
    #produkt #dest article:hover .materialer,
    #produkt #dest article:hover .pris,
    #produkt #dest article:hover .overlay {
        opacity: 1;
    }

    #produkt #samme_header {
        grid-area: 5 / 1 / 6 / 3;
        margin: 40px 10px 20px 10px;
    }

    #produkt #dest {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-area: 6 / 1 / 7 / 3;
    }

    /* Kontakt */
    #kontakt {
        padding-top: 200px;
        display: grid;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        grid-template-columns: 60% 40%;
        grid-template-rows: 80px 580px auto;
    }

    #kontakt h1 {
        grid-area: 1 / 1 / 2 / 3;
        margin: 0 20px;
    }

    #kontakt #kontakt_box {
        grid-area: 2 / 1 / 3 / 2;
        padding: 20px;
        background-color: rgba(90, 88, 88, 0.23);
    }

    #kontakt #info_box {
        grid-area: 2 / 2 / 3 / 3;
    }

    #kontakt .singlemap {
        grid-area: 3 / 1 / 4 / 3;
    }
    #kontakt #map {
        width: 1200px;
        height: 300px;
        margin: 20px auto;
    }

    /* Kurv */
    #kurv_box {
        max-width: 1000px;
        margin: 0 auto;
    }

    #kurv h1 {
        max-width: 1000px;
        margin: 0px auto 10px auto;
        padding-top: 200px;
    }

    /* Lookbook */
    #lookbook .sort_btn {
        width: 100px;
        height: 40px;
        font-size: 1.2em;
    }
    #lookbook .sort_btn.selected {
        width: 130px;
    }

    #lookbook #privat {
        top: 200px;
    }
    #lookbook #erhverv {
        top: 255px;
    }

    #lookbook #dest {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    #lookbook h1 {}

    /* Om os */
    #om #kasper {
        width: 100%;
        height: 100%;

    }

    #om #om_kasper p {
        font-size: 1.2em;

        padding: 10px;


    }

    #om button {
        width: 10vw;
        font-size: 2vw;
        height: 4vw;
    }

    #om h1 {
        margin-top: 20px;
    }

    #baggrund_fixed {

        width: 100vw;
        background-size: cover;
    }
}



@media screen and (min-width: 1300px) {
    #lookbook #dest {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
