/*
##############################
#########  GENERELT  #########
##############################
*/

/*#####  OVERORDNET   #####*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


/*########  TEKST  ########*/

h1,
h2,
h3,
h4,
p,
address {
    cursor: default;
}

a,
button {
    cursor: pointer;
}

h1 {
    font-size: 1.6em;
    color: #fff;
    margin-top: 25vw;
    margin-left: 20px;

}

h2 {
    font-size: 1.4em;
    color: #ddd;
    margin: 20px 0px 10px 0px;
}

h3 {}


/*########  ANDET  ########*/

#baggrund_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-size: cover;
    background-position: center;
}

#baggrund_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: rgba(300, 300, 300, 0.4);
}

/*
##############################
##########  PAGES   ##########
##############################
*/

/*#######  HEADER   #######*/

header.include img {
    width: 30vw;
    left: 30vw;
    z-index: 110;
    position: absolute;
    top: 0.1vw;
}

#header_bar {
    width: 100%;
    height: 12vw;
    background-color: #333;
    background-image: url(img/wood-1759566_1920.jpg);
    position: absolute;
    top: 5vw;
    left: 0;
    z-index: 100;
}


/*###  NAVIGATION MENU  ###*/

nav.include {
    z-index: 150;
    position: fixed;
    top: 0;
    left: -300px;
    transition: 0.5s;
    transition-timing-function: ease;
}

#nav_content {
    width: 300px;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: 150;
    background-color: rgba(50, 50, 50, 0.8);
}

#nav_content form {
    margin: 50px;
}

#nav_content button {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 1.8em;
    width: 100%;
}

#burger {
    width: 12vw;
    height: 12vw;
    top: 5vw;
    left: 300px;
    background-color: rgba(50, 50, 50, 0.8);
    position: absolute;
    z-index: 150;
    cursor: pointer;
    transition: 0.5s;
}

#burger div {
    background-color: #fff;
    width: 10vw;
    height: 1vw;
    margin: 2.2vw 1vw;
    transition: 0.5s;
}

nav.include.open {
    left: 0px;
}

nav.include.open #burger div:first-child {
    transform: rotate(-45deg) translateX(-2vw) translateY(2.5vw);
}

nav.include.open #burger div:nth-child(2) {
    opacity: 0;
}

nav.include.open #burger div:last-child {
    transform: rotate(45deg) translateX(-2vw) translateY(-2.5vw);
}

/*#######  FOOTER   #######*/

footer {
    background-color: #767a7d;
    padding: 20px;
    color: #ddd;

}

footer a {
    text-decoration: underline;
}

/*#######  FORSIDE  #######*/

#baggrund_fixed.forside {
    background-image: url(img/untitled-0098-2jpg.jpeg);
}

#forside_container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;


}

#forside_container p {
    margin-top: 18vh;
    color: #222;
    font-size: 1.7em;
    align-self: center;
    text-align: center;
    padding: 0 20px;



}



#forside_container img {
    align-self: center;
    margin-top: 2vh;
    width: 30vh;
}

#forside_container h1 {
    margin-top: 7vh;
    align-self: center;
    color: #111;
    font-size: 2em;
    font-family: 'Cinzel', serif;
}


/*######  PRODUKTER  ######*/

/*######  LOOKBOOK   ######*/

/*########  OM OS   #######*/

#baggrund_fixed.om {
    background-color: #555;
    background-image: url(img/wood-1759566_1920.jpg);
}

#om #kasper {
    display: block;
    width: 70vw;
    margin: 0 auto;
}

#om #om_kasper {
    padding: 20px 20px;
    background-color: rgba(50, 50, 50, 0.7);
    color: #ddd;
    background-image: url(img/wood-1759566_1920.jpg);
}

#om #om_kasper p {
    margin: 0;
    padding: 10px;
    font-weight: 600;

}

#om h1 {
    font-family: 'Cinzel', serif;
}

/*###  RÅDG. OG KONT.   ###*/

#baggrund_fixed.kontakt {
    background-image: url(img/untitled-0098-2jpg.jpeg);
}

#kontakt {
    overflow: hidden;
}

#info_box {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.6);
    color: #ddd;
    font-weight: 700;
}

#kontakt #map {
    width: 100vw;
    height: 50vw;
    background: burlywood;
}

/* Kontakt box */

#kontakt_box {
    background-color: #444;
    background-image: url(img/wood-1759566_1920.jpg);
    padding: 20px;
    transition: 0.5s;
}

#kontakt_box .tilbage {
    width: 10em;
    height: auto;
    padding: 0.4em;
}

#kontakt_box button,
#kontakt_box .submit {
    width: 100%;
    height: 3em;
    margin: 10px 0;

    color: #FFF;
    background-color: #222;
    border: none;
    font-weight: 700;
}

#kontakt_box input {
    width: 100%;
    padding: 0.5em;
    margin: 10px 0;
}

#kontakt_box textarea {
    min-height: 150px;
    width: 100%;
    padding: 0.5em;
}

#kontakt h1 {
    font-family: 'Cinzel', serif;

}

/*
##############################
######  MEDIAQUERRIES   ######
##############################
*/

/*#######  TABLET   #######*/

/*#######  DESKTOP  #######*/

/*#######  FOOTER   #######*/
